<tr>
    <td>
        {{NAME}}
    </td>
    
    <td>
        <div style="display:flex;justify-content:space-between">

       
        <form class="delete" method="POST">
            <input type="hidden" name="delete_id" id="delete_id" value="{{ID}}">
            <input type="hidden" name="hash_id" value="<?php echo PT_CreateSession()?>">
            <input type="hidden" name="user_id" value="{{USER_ID}}">
            <button class="btn btn-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4 8h16v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8zm3-3V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2h5v2H2V5h5zm2-1v1h6V4H9zm0 8v6h2v-6H9zm4 0v6h2v-6h-2z"></path></svg>
            </button>
        </form>
        </div>
    </td>
</tr> 